<div class="landing-container faded-background">
  <div class="vertical-divider"></div>
  <div class="left-section">
    <h1 class="title">Welcome to EnStrap</h1>
    <p class="description">
      Some Description
    </p>
    <button class="get-started-btn" (click)="getStarted()">Get Started</button>
  </div>
  <div class="right-section">
    <img src="assets/Enstrap_Logo.jpg" alt="Landing Image">
  </div>
  <div class="guide">
    <p>Guide</p>
    <button id="guide-btn" (click)="openGuide()" [class.animate]="!isGuideClicked">
      <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#48494B">
        <path d="M480-344 240-584l43-43 197 197 197-197 43 43-240 240Z"/>
      </svg>
    </button>
  </div>
</div>