.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E8ECEB;
}

.upload-box {
  text-align: center;
  padding: 40px;
  background-color: #D9D9D9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-title {
  font-size: 48px;
  margin-bottom: 30px;
  color: #083B61;
  letter-spacing: 4px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
}

.upload-button {
  padding: 12px 25px;
  background-color: #083B61;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 8px;
  font-size: 20px;
}

.shifted {
  margin-bottom: 20px; 
}

.title-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.file-list {
  width: 90%;
  margin-top: 20px;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #888;
}

.process-button {
  padding: 10px 20px;
  background-color: #083B61;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.process-container {
  /* Align button to the right */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* Add this style for the dropdown container */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  color: #482E3C;
  font-size: 12px;
}

/* Title above the dropdown */
.dropdown-title {
  font-size: 16px;
  color: #4A4459;
  margin-bottom: 8px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500; 
}

/* Style for the dropdown select */
.dropdown-select {
  padding: 6px;
  border-radius: 2px;
  margin-bottom: 4px;
  border-color: #482E3C;
  font-size: 16px;
  width: 150px;
  font-family: 'DM Sans', sans-serif;
}

.dropdown-section {
  text-align: left;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 20px; 
  position: relative;
  display: flex; 
  flex-direction: column; 
}

.kingdom-container {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px;
}

.warning-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-family: 'DM Sans', sans-serif;
}

/* .checkbox-container {
  display: flex;
  align-items: center;
  position: absolute; 
  left: 0; 
  bottom: 0;
  margin: 0px; 
  z-index: 10;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
} */

.checkbox-container {
  display: flex;
  flex-direction: row; /* Align items vertically */
  position: absolute;  
  left: 0;  
  bottom: 0;
  margin: 0;  
  z-index: 10;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-right: 15px; 
}

.checkbox-item input[type="checkbox"] {
  margin-right: 5px;
}