<div class="upload-container">
  <a class="back-button" (click)="goBackToLanding()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="15 18 9 12 15 6" />
    </svg>
  </a>
  <div class="upload-box">
    <!-- -------------- INFORMATION MESSAGES -------------- -->
    
    <!-- Info Button -->
<button class="information-button" (click)="showInformation()" aria-label="Show information">
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#48494B">
    <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
  </svg>
</button>

<!-- Popout Box -->
<div class="info-popout" *ngIf="showInformationPopOut">
  <div class="info-content">
    <h3>Upload Information</h3>
    <p>• Supported formats: <strong>csv</strong>, <strong>txt</strong></p>
    <p>• Upload at least one expression and one annotation file</p>
    <button class="close-info" (click)="hideInformation()">Got it</button>
  </div>
</div>
    

    <!-- -------------- TITLE -------------- -->
    <div class="title-button-container">
      <h1 class="upload-title">Upload Files</h1>
      <div class="button-container">
        <button class="upload-button" (click)="onUploadClick()"> 
          <div class="upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
              <path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/>
            </svg>
          </div>
          Upload Files
        </button>
        
        <button class="open-project-btn" (click)="openProject()">
          <div class = "project-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
              <path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/>
            </svg>
          </div>
          Open Project</button>
      </div>
    </div>
    <!-- -------------- WARNING MESSAGES -------------- -->
    <div *ngIf="unsupportedFileTypeMessage || validationMessage || warningMessage" class="warning-message">
      <p *ngIf="unsupportedFileTypeMessage">{{ unsupportedFileTypeMessage }}</p>
      <p *ngIf="validationMessage">{{ validationMessage }}</p>
      <p *ngIf="warningMessage">{{ warningMessage }}</p>
    </div>
    <!-- -------------- INFO IF FILES WERE UPLOADED -------------- -->
    <div class="file-status">
      <div class ="file-status-title">
      <p>
        Please upload:
      </p>
      </div>
      <p>
        Expression file (.csv or .txt):
        <span [ngClass]="{ 'tick': expressionUploaded, 'cross': !expressionUploaded }">
          {{ expressionUploaded ? '✔️ Uploaded' : '❌ Not uploaded' }}
        </span>
      </p>
      <p>
        Annotation file (.csv or .txt):
        <span [ngClass]="{ 'tick': annotationUploaded, 'cross': !annotationUploaded }">
          {{ annotationUploaded ? '✔️ Uploaded' : '❌ Not uploaded' }}
        </span>
      </p>
    </div>    

    <!-- -------------- LIST OF FILES -------------- -->
    <!-- <div *ngIf="showFileList" class="file-list">
      <div *ngFor="let file of uploadedFiles; let i = index" class="file-item">
        <span>{{ file.name }}</span>
        <button class="remove-button" (click)="removeFile(i)">X</button>
      </div> -->

      <div *ngIf="showFileList" class="file-list">

      <!-- Annotation Files -->
      <div *ngIf="annotationFiles.length > 0" class="file-type-group">
        <h3>Annotation Files:</h3>
        <div *ngFor="let file of annotationFiles; let i = index" class="file-item">
          <span>{{ file.name }}</span>
          <button class="remove-button" (click)="removeFileByName(file.name)">X</button>
        </div>
      </div>

      <!-- Expression Files -->
      <div *ngIf="expressionFiles.length > 0" class="file-type-group">
        <h3>Expression Files:</h3>
        <span class="file-list-title"> Please order your time series data. Drag and drop to reorder</span>
        <div class="expression-file-list">
          <div 
            *ngFor="let file of expressionFiles; let i = index"
            draggable="true"
            (dragstart)="onDragStart($event, i)"
            (dragover)="onDragOver($event, i)"
            (drop)="onDrop($event, i)"
            (dragend)="onDragEnd()"
            [class.dragging]="draggedIndex === i"
            [class.drag-over]="hoveredIndex === i"
            class="expression-file-item"
          >
            <div class="file-number">{{ i + 1 }}.</div> 
            <div class="file-name">{{ file.name }}</div>
            <button class="remove-button" (click)="removeFileByName(file.name)">X</button>
          </div>
        </div>
        
        
      </div>

      <!-- -------------- CHECKBOXES AND INPUT NUMBER -------------- -->
      <div class="dropdown-section" *ngIf="uniqueKingdoms.length > 0">
        <div class="dropdown-container">

          <div class="checkbox-container">

            <!-- -------------- CHECK BOXES -------------- -->
            <div class="checkbox-item">
                <input type="checkbox" id="toggleDropdown" (change)="toggleDropdowns()" [checked]="hideDropdowns">  
                <label for="toggleDropdown">No Organism</label>
            </div>

            <div class="checkbox-item">
              <input type="checkbox" id="NoTimeSeries" (change)="onTimeSeriesCheckboxChange()" [checked]="noTimeSeriesChecked">  
              <label for="NoTimeSeries">No Time Series Data</label>
            </div>

            <!-- -------------- INPUT NUMBER -------------- -->
            <div class="numeric-input-container">
              <label for="pathwayCountInput" class="numeric-input-label">Number of pathways to display:</label>
              <input type="number" id="pathwayCountInput" [value]="pathwayCount" (input)="onPathwayInputChange($event)" min="1" step="1" class="numeric-input" />
            </div>
            
          </div>

          <!-- -------------- DROPDOWNS TO PICK AN ORGANISM -------------- -->
          <div *ngIf="!hideDropdowns">
            <h3 class="dropdown-title">Select an Organism</h3>
            
            <div class="dropdown-container">
              <label for="kingdomSelect" class="dropdown-label">Kingdom:</label>
              <select id="kingdomSelect" class="dropdown-select" (change)="onKingdomSelected($event); onDropdownChange()">
                <option value="" disabled selected>Select a Kingdom</option>
                <option *ngFor="let kingdom of uniqueKingdoms" [value]="kingdom">{{ kingdom }}</option>
              </select>
            </div>
        
            <div class="dropdown-container" *ngIf="selectedKingdom && uniqueSubgroups.length > 0">
              <label for="subgroupSelect" class="dropdown-label">Subgroup:</label>
              <select id="subgroupSelect" class="dropdown-select" (change)="onSubgroupSelected($event); onDropdownChange()">
                <option value="" disabled selected>Select a Subgroup</option>
                <option *ngFor="let subgroup of uniqueSubgroups" [value]="subgroup">{{ subgroup }}</option>
              </select>
            </div>
        
            <div class="dropdown-container" *ngIf="selectedSubgroup && uniqueClasses.length > 0">
              <label for="classSelect" class="dropdown-label">Class:</label>
              <select id="classSelect" class="dropdown-select" (change)="onClassSelected($event); onDropdownChange()">
                <option value="" disabled selected>Select a Class</option>
                <option *ngFor="let organismClass of uniqueClasses" [value]="organismClass">{{ organismClass }}</option>
              </select>
            </div>
        
            <div class="dropdown-container" *ngIf="selectedClass && uniqueOrganisms.length > 0">
              <label for="organismSelect" class="dropdown-label">Organism:</label>
              <select id="organismSelect" class="dropdown-select" (change)="onOrganismSelected($event)">
                <option value="" disabled selected>Select an Organism</option>
                <option *ngFor="let organism of uniqueOrganisms" [value]="organism">{{ organism }}</option>
              </select>
            </div>
          </div> </div>
      </div>

      <!-- -------------- PROCESS BUTTON -------------- -->
      <div class="process-container">
        <button class="process-button" (click)="processFiles()">Process</button>
      </div>
    </div>
  </div>
</div>