
:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --side-panel-width: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

/* ------------ FADED BACKGROUND COLOUR ------------ */
.faded-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(62, 66, 75, 0.2) 0%, rgb(62, 66, 75, 0) 100%);
  z-index: -10;
}

/* ------------ TOP BAR ------------ */
.top-bar {
  background-color: #f8f9fa;
  padding: 5px 20px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 5px;
  left: 15px;
  right: 15px;
  z-index: 1;
  border-radius: 100px;
  font-family: 'DM Sans', sans-serif;

}

.top-bar-left {
  display: flex;
  align-items: center;
}

.app-logo {
  width: 30px;
  height: 30px;
  background-color: #e9ecef; 
  color: #343a40;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}

.app-name {
  font-size: 18px;
  color: #343a40;
  margin-right: 10px;
  letter-spacing: 1px;
}

.separator {
  width: 1px;
  height: 24px;
  background-color: #ced4da;
  margin-right: 10px;
}

.top-bar-menu {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 0; 
}

.dropdown-button {
  background-color: transparent;
  color: #343a40;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
  letter-spacing: 1px;
  }


.dropdown-button:hover {
  background-color: #e9ecef;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #dee2e6;
  border-top: none;
  border-radius: 0 0 8px 8px; /* Rounded bottom corners */
  
}

.dropdown-content a {
  color: #343a40;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
}

.dropdown-content a:hover {background-color: #e9ecef;}

.dropdown:hover .dropdown-content {
  display: block;
}

.separator-vertical {
  width: 1px;
  height: 24px;
  background-color: #ced4da; /* Light gray color */
  margin-left: 15px;
  margin-right: 15px;
}

/* ------------ Submenu - EXPORT ------------ */

.submenu {
  position: relative;
}

.submenu-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f8f9fa;
  min-width: 140px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.submenu:hover .submenu-content {
  display: block;
}

.submenu-content a {
  padding: 10px 15px;
  display: block;
  font-size: 13px;
  color: #343a40;
  text-decoration: none;
}

.submenu-content a:hover {
  background-color: #e9ecef;
}

.submenu-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
  color: #343a40;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

.submenu-icon {
  margin-left: 55px;
  font-size: 18px;
  line-height: 1;
}


/* ------------ Submenu - IMPORT ------------  */

.Upload-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.Upload-modal-content {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.Upload-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
  color: #343a40;
  font-size: 12px;
  letter-spacing: 1px;
  border-bottom: 1px solid #ddd;
  margin-left: 0px;
  margin-right: 0px; 
}

.Upload-close-btn {
  cursor: pointer;
  font-size: 18px;
  margin-top: -30px;
  margin-right: -10px;
}

.error-message-box {
  background-color: #d6636fa6; 
  color: #721c24;
  padding: 15px; 
  border: 1px solid #9a313b;
  border-radius: 5px; 
  margin-top: 10px; 
  display: flex; 
  align-items: center; 
}

.Upload-modal-body {
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.choose-files-button {
  padding: 8px 15px; 
  background-color: #343a40;
  color: #e9ecef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; 
  margin-bottom: 10px; 
}

.choose-files-button:hover {
  background-color: #115ba9;
}

.uploaded-files-list {
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.uploaded-files-list ul {
  list-style-type: disc;
  padding-left: 5px;
}

.uploaded-files-list li {
  display: flex; 
  align-items: center; 
  margin-bottom: 5px;
  font-family: 'DM Sans', sans-serif;
  color: #343a40;
  justify-content: space-between;
  padding-right: 20px;
}

.remove-file-button {
  margin-left: 10px;
  color: #737679;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1; 
  padding: 0;
  margin-left: 0;
}

.remove-file-button:hover {
  color: #343a40;
  background-color: transparent;
  padding: 0; 
}

.file-name {
  flex-grow: 1; 
  overflow: hidden; 
  text-overflow: ellipsis;
  margin-right: 10px;
}

.Upload-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}


button {
  padding: 10px 20px;
  background-color: #343a40;
  color: #e9ecef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #115ba9;
}

/* ------------ FILTER ------------ */

/* ------------ PATHWAYS FILTER MODAL ---------- */
.pathway-filter-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.pathway-filter-modal-content {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.pathway-filter-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
  color: #343a40;
  font-size: 12px;
  letter-spacing: 1px;
  border-bottom: 1px solid #ddd;
  margin-left: 0px;
  margin-right: 0px; 
}

 .pathway-filter-close-btn {
  cursor: pointer;
  font-size: 18px;
  margin-top: -30px;
  margin-right: -10px;
}

.pathway-filter-modal-body {
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.pathway-filter-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.filter-button-modal-footer button {
  padding: 10px 20px;
  background-color: #343a40;
  color: #e9ecef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pathway-filter-modal-footer button:hover {
  background-color: #115ba9;
}
/* ------------ CHECBOXES FOR FILTERS ---------- */
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 10px;
  padding-right: 10px;
}

.checkbox-container label {
  font-size: 14px;
  color: #343a40;
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #343a40;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #343a40;
  border-color: #343a40;
}

.checkbox-container input[type="checkbox"]::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.checkbox-container input[type="checkbox"]:checked::after {
  display: block;
}

/* ------------ PATHWAYS SIDE BAR ------------ */

#sidebar {
  width: 240px;
  background-color: var(--base-clr);
  color: var(--text-clr);
  position: fixed;
  height: 75vh;
  left: 10px;
  top: 85px;
  transition: width 0.3s ease-in-out;
  padding-top: 5px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 transparent;
}

#sidebar.close {
  width: 60px;
}

#sidebar ul {
  list-style: none;
  padding: 10px;
}

#sidebar li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
/* ---------- Pathways Header ---------- */
#sidebar .pathways-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  transition: background-color 0.3s;
  color: #343a40;
  justify-content: space-between;
  letter-spacing: 1px;
  width: 100%;
  }
  
#sidebar .pathways-header:hover {
  background-color: var(--hover-clr);
}

#sidebar .pathways-header.active svg {
  background-color: #a7adb2ad;
  border-radius: 5px;
  fill: #343a40 !important;
}

/* ---------- Customise Header ---------- */
#sidebar .customise-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  transition: background-color 0.3s;
  color: #343a40;
  letter-spacing: 1px;
  width: 100%;
  gap: 10px;
  }
  
#sidebar .customise-header:hover {
  background-color: var(--hover-clr);
  }
  
#sidebar .customise-header.active svg {
  background-color: #a7adb2ad;
  border-radius: 5px;
  fill: #343a40;
}

/* #sidebar .customise-header .menu-text, */
#sidebar .customise-header .close-btn,
#sidebar .customise-header + .sub-menu {
  transition: opacity 0.3s ease;
}

#sidebar.pathways-active .customise-header {
  display: flex !important;
  justify-content: flex-start !important;
  margin: 0 !important;
  padding: 8px !important;
}


/* ---------- Close Button ---------- */
.close-btn {
  background: transparent;
  border: none;
  color: #343a40;
  font-size: 14px;
  cursor: pointer;
  margin-left: 58px;
}

.close-btn:hover {
  color: #115ba9;
}

/* ---------- Submenus ---------- */
#sidebar .sub-menu {
  display: none;
  position: relative;
  flex-direction: column;
  padding: 5px 10px;
}

#sidebar .sub-menu.show {
  display: flex;
}

.sub-menu li {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.sub-menu li label {
  font-weight: bold;
  margin-left: 2px;
  color: #3E424B;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
}

.sub-menu li select {
  width: 200px; 
  height: 30px; 
  overflow-y: auto;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #dbd6d68e;
  transition: border-color 0.3s ease;
  font-family: 'DM Sans', sans-serif;
}


.sub-menu li select:hover,
.sub-menu li select:focus {
  border-color: var(--input-focus-border-color);
}

/* ---------- Utilities ---------- */
.menu-text {
  white-space: nowrap;
}

#sidebar.close .menu-text,
#sidebar.close .sort-label,
#sidebar.close .dropdown-arrow {
  display: none;
}

#sidebar.close .menu-text,
#sidebar.close .sub-menu,
#sidebar.close .close-btn {
  display: none;
}


#sidebar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  /* background: linear-gradient(to top, rgb(154, 151, 151, 0.2), transparent); */
  pointer-events: none;
}

/* Keeps the icons alligned with the Pathway title */
.icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}



/* ------------ SIDEBAR BUTTON ------------ */
#sidebar button {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  background: none;
  border: none;
  color: var(--text-clr);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sidebar button:hover {
  background-color: var(--hover-clr);
}

/*  To roatet the double arrow icon */
#sidebar button.rotate {
  transform: rotate(180deg);
}

#sidebar svg {
  fill: #48494B;
}

/* ---------- Toggle Animations ---------- */

.toggle-container {
  transition: transform 0.3s ease; 
  justify-content: flex-start; 
  display: flex;  
}

.toggle-container.right {
  transform: translateX(186px); 
  justify-content: flex-end; 
}

.hide {
  display: none !important;
}



/* ------------ SORT BY ------------ */

.sort-container {
  margin-left: auto;
  padding-right: -20px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  color: #5e6265;
}

.sort-label {
  font-size: 13px;
  white-space: nowrap;
}

.dropdown-arrow {
  transition: transform 0.3s ease-in-out;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.sort-dropdown {
  position: absolute;
  top: 24px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 6px;
  list-style: none;
  padding: 5px 0;
  z-index: 999;
  font-family: 'DM Sans', sans-serif;
  
}

.sort-dropdown li {
  padding: 6px 12px;
  cursor: pointer;
  white-space: nowrap;
}

.sort-dropdown li:hover {
  background-color: #343a4081;
  border-radius: 4px;
}

/* ------------ MAIN-PANEL - PANEL ON WHICH WE HAVE DISPLAY AND TIME SLIDER  ------------ */
/* TODO: make it expand when sidemenu is closed  */

.main-panel {
  flex-grow: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
  background-color: transparent;
}

#sidebar.close + .main-panel {
  margin-left: 60px;
}

.display-container {
  display: flex;
  height: 100vh;
}

.content-container {
  flex-grow: 1; 
  display: flex;
}
/* TODO: FIX IT */
/* Title above the pathway visualisation */
.pathway-title {
  text-align: left; 
  font-size: 0.6em;
  margin-bottom: 2px; 
  color: #48494B; 
  font-family: 'DM Sans', sans-serif; 
  letter-spacing: 1px;
}

/* ------------ DISPLAY FRAME ------------ */
.myDiagramDiv {
  height: 80%;
  background-color: #f8f9fa;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3E424B;
  margin-bottom: 80px;
  position: relative;
  top: 7%;
  z-index:0;
}

/* ------------ LOADING ------------ */

.content-container.loading-blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.loading-icon {
  animation: spin 1s linear infinite;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* ------------ TIME SLIDER ------------ */

.slidecontainer {
  width: 100%;
}

.slidecontainer p {
  font-family: 'DM Sans', sans-serif; 
  font-size: 16px; 
  margin-bottom: 5px;
  color: #48494B;
  letter-spacing: 1px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #2E5984;
  cursor: pointer;
  border-radius: 50%;
}

/* ------------ ANIMATION BUTTON ------------ */

.slider-container {
  flex: 1;
}

.animation-container {
  flex-shrink: 0;
  margin-right: 20px;
}

.animation-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.animation-button:hover {
  background-color: #e0e0e0;
}

.animation-button svg {
  vertical-align: middle;
}














/* .dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  background: none;
  border: none;
  color: var(--text-clr);
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
} */

/* .dropdown-btn:hover {
  background-color: var(--hover-clr);
} */








/* #customisation-panel {
  width: 250px;
  background-color: var(--base-clr);
  color: var(--text-clr);
  position: fixed;
  right: 0;
  top: 8px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  background-color: #482e3c43;
  border-radius: 8px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: 'DM Sans', sans-serif;
}

#customisation-panel.close {
  transform: translateX(100%);
}

.customisation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid var(--line-clr);
  font-family: 'DM Sans', sans-serif;
}

.customisation-header button {
  background: none;
  border: none;
  color: var(--text-clr);
  cursor: pointer;
  font-size: 20px;
  color: #b66791;
}

.customisation-content {
  padding: 10px;
}

#customisation-toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--accent-clr);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#customisation-toggle-btn:hover {
  background-color: #b66791;
} */
