:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --side-panel-width: 250px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

.display-container {
  display: flex;
  height: 100vh;
}

.content-container {
  flex-grow: 1; 
  display: flex;
}

.content-container.loading-blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

#sidebar {
  width: 250px;
  background-color: var(--base-clr);
  color: var(--text-clr);
  position: fixed;
  height: 100vh;
  left: 0;
  top: 8px;
  transition: width 0.3s ease-in-out;
  padding-top: 5px;
  background-color: #482e3c43;
  border-radius: 8px;
}

#sidebar.close {
  width: 60px;
}

#sidebar ul {
  list-style: none;
  padding: 10px;
}

#sidebar li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#sidebar button {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  background: none;
  border: none;
  color: var(--text-clr);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sidebar button:hover {
  background-color: var(--hover-clr);
}

#sidebar svg {
  fill: #482E3C;
}

.dropdown-arrow {
  transition: transform 0.3s ease-in-out;
  color: #482E3C;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.sub-menu {
  display: none;
  flex-direction: column;
  background-color: var(--base-clr);
  padding: 5px 10px;
  border-radius: 5px;
}

.sub-menu.show {
  display: flex;
}

.sub-menu li {
  width: 100%;
}

.sub-menu a {
  display: block;
  color: var(--text-clr);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
}

.sub-menu a:hover {
  background-color: rgba(126, 76, 76, 0.185);
  width: 200px;
}

.main-panel {
  flex-grow: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
  background-color: #ffffff;
}

#sidebar.close + .main-panel {
  margin-left: 60px;
}

.myDiagramDiv {
  height: 80%;
  background-color: #ffffff62;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #482E3C;
  margin-bottom: 80px;
  position: relative;
}

.icons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  background: none;
  border: none;
  color: var(--text-clr);
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
}

.dropdown-btn:hover {
  background-color: var(--hover-clr);
}

.menu-text {
  white-space: nowrap;
}

#sidebar.close .menu-text {
  display: none;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-container {
  transition: transform 0.3s ease; 
  justify-content: flex-start; 
  display: flex;  
}

.toggle-container.right {
  transform: translateX(186px); 
  justify-content: flex-end; 
}

.custom-slider {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.slider-line {
  position: relative;
  height: 3px;
  background: #d3d3d3;
  cursor: pointer;
}

.slider-pointer {
  position: absolute;
  top: 15px;
  transform: translateX(-50%);
  font-size: 2em;
}

.timepoint-labels {
  position: relative;
  display: block;
}

.timepoint-label {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  color: #482E3C;
}

.slider-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #482E3C;
}

.slider-line span {
  position: absolute;
  bottom: -5px; 
  width: 3px;
  height: 15px; 
  background: #482E3C;
}

.slider-container {
  position: flex; 
  left: 0;
  right: 0;
  padding: 0 20px; 
}


.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.loading-icon {
  animation: spin 1s linear infinite;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pathway-title {
  text-align: left; 
  font-size: 0.6em;
  margin-bottom: 2px; 
  color: #482E3C; 
  font-family: 'DM Sans', sans-serif; 
}


#customisation-panel {
  width: 250px;
  background-color: var(--base-clr);
  color: var(--text-clr);
  position: fixed;
  right: 0;
  top: 8px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  background-color: #482e3c43;
  border-radius: 8px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: 'DM Sans', sans-serif;
}

#customisation-panel.close {
  transform: translateX(100%);
}

/* Customisation Panel Header */
.customisation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid var(--line-clr);
  font-family: 'DM Sans', sans-serif;
}

/* Close Button */
.customisation-header button {
  background: none;
  border: none;
  color: var(--text-clr);
  cursor: pointer;
  font-size: 20px;
  color: #b66791;
}

/* Customisation Panel Content */
.customisation-content {
  padding: 10px;
}

/* Button to Open Customisation Panel */
#customisation-toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--accent-clr);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#customisation-toggle-btn:hover {
  background-color: #b66791;
}